html {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

header {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  #app-header {
    background-color: rgba(243, 243, 243, 0.62);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  }

  h1 {
    color: rgba(122, 135, 173, 0.84);
    cursor: default;
  }
}

main {
  form.work-form {
    margin: 50px 0;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    width: 50%;

    fieldset {
      padding: 0;
      border: none;
    }

    fieldset.actions {
      margin: 50px 0;
      text-align: center;
      width: 60%;

      input[type='submit'], button[type='reset'] {
        width: 100px;
        height: 28px;
        -webkit-appearance: none;
        font-size: 14px;
        background: #e06e51;
        border: none;
        border-radius: 4px;
        box-shadow: 1px 1px 0.5px 0.5px rgba(0, 0, 0, 0.36);
        color: rgba(235, 235, 235, 0.90);
        opacity: .85;
        cursor: pointer;
        transition: opacity 200ms ease-in-out, color 200ms ease-in-out;

        &:hover {
          opacity: 1;
          color: rgba(235, 235, 235, 1);
        }
      }

      button[type='reset'] {
        margin-left: 20px;
        background: #353535;
      }
    }

    label {
      display: inline-block;
      margin: 10px 20px 10px 0;
      width: 30%;
      color: rgba(0, 0, 0, 0.67);
    }

    input[type='number'] {
      display: inline-block;
      height: 18px;
      width: 150px;
      padding: 4px;
      outline: none;
      border: 1px solid #000;
      transition: border-color 200ms ease-in-out;
      font-size: 14px;
      border-radius: 2px;

      &:focus {
        border-color: #e06e51;
      }
    }
  }
}

footer {
  text-align: center;

  #app-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    position: absolute;
    transform: translateX(-50%);
    bottom: 10px;
    left: 50%;

    p {
      color: #b3b3b3;

      a {
        color: rgba(0, 0, 0, 0.55);
        transition: color 200ms ease-in-out;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.message {
  text-align: center;
  font-size: 14px;
  margin: 4px auto;
  color: rgba(0, 0, 0, 0.65);
  width: 70%;

  .success {
    border-radius: 4px;
    background: #c3e8c3;
    padding: 6px 0;
  }

  .error {
    border-radius: 4px;
    background: #e8aeae;
    padding: 6px 0;
  }
}
