<table class='table'>
  <thead>
    <tr>
      <th>Queue Name</th>
      <th>Class</th>
      <th>Job ID</th>
      <th>Time</th>
      <th>Error</th>
    </tr>
  </thead>

  <tr>
    <td>workerholic:queue:main</td>
    <td>JobTestFast</td>
    <td>22</td>
    <td>07-26-2017 18:21:44</td>
    <td>ArgumentError: Wrong number of arguments. (0 for 2)</td>
  </tr>

  <tr>
    <td>workerholic:queue:main</td>
    <td>JobTestFast</td>
    <td>22</td>
    <td>07-26-2017 18:21:44</td>
    <td>ArgumentError: ....</td>
  </tr>
</table>
