<html>
  <head>
    <title>Workerholic Overview</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css" rel="stylesheet">
    <link href="stylesheets/application.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>

  <body>
    <header>
      <nav class="nav has-shadow">
        <div class="container">
          <div class="nav-center">
            <a class="nav-item" id="logo">
              <img src="images/workerholic_logo.png" alt="Workerholic logo">
            </a>
          </div>
          <div class="nav-center">
            <a class="nav-item is-tab is-hidden-mobile" href="overview">Overview</a>
            <a class="nav-item is-tab is-hidden-mobile" href="details">Details</a>
            <a class="nav-item is-tab is-hidden-mobile" href="queues">Queues</a>
            <a class="nav-item is-tab is-hidden-mobile" href="history">History</a>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <%= yield %>
    </section>
  </body>
</html>
