<table class='table'>
  <thead>
    <tr>
      <th>Worker</th>
      <th>Queue</th>
      <th>Class</th>
      <th>Arguments</th>
    </tr>
  </thead>

  <tr>
    <td>Worker 1</td>
    <td>workerholic:queue:main</td>
    <td>GetPrimes</td>
    <td>[n, 1000000]</td>
  </tr>

  <tr>
    <td>Worker 2</td>
    <td>workerholic:queue:main</td>
    <td>GetPrimes</td>
    <td>[n, 1000000]</td>
  </tr>

  <tr>
    <td>Worker 3</td>
    <td>workerholic:queue:email</td>
    <td>SendWelcomeEmail</td>
    <td>[{ email_address: 'kminevsky@email.com', title: 'I\'m Konstantine', body: 'please hire me' }]</td>
  </tr>

  <tr>
    <td>Worker 4</td>
    <td>workerholic:queue:scheduled</td>
    <td>RequestAPI</td>
    <td>[n, 1000000]</td>
  </tr>

  <tr>
    <td>Worker 5</td>
    <td>workerholic:queue:main</td>
    <td>GetPrimes</td>
    <td>[n, 1000000]</td>
  </tr>
</table>
