<html>
  <head>
    <title>Workerholic Overview</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href='stylesheets/application.css' rel='stylesheet'>
  </head>

  <body>
    <header>
      Workerholic
    </header>
    <nav>
      <ul>
        <li><a href='/'>Overview</a></li>
        <li><a href='/details'>Job Details</a></li>
        <li><a href='/queues'>Queues</a></li>
        <li><a href='/queues'>Workers</a></li>  
        <li><a href='/what'>Failed</a></li>
        <li><a href='/what'>Scheduled</a></li>
      </ul>
    </nav>

    <div id="statistics">
      <h2>Your current active queues:</h2>
      <p>JobTestFast: 1,234</p>
      <p>JobtestSlow: 2,144,822</p>
      <p>GetPrimes:     102,891</p>
      <p>Total: 2,248,947</p>
    </div>

  </body>
</html>
