<table class='table'>
  <thead>
    <tr>
      <th>Class</th>
      <th>Enqueued</th>
      <th>Failed</th>
      <th>Completed</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>JobTestFast</td>
      <td>1,833,222</td>
      <td>171,882</td>
      <td>22,198,122</td>
      <td>24,123,233</td>
    </tr>
    <tr>
      <td>JobTestSlow</td>
      <td>1,833,222</td>
      <td>171,882</td>
      <td>22,198,122</td>
      <td>24,123,233</td>
    </tr>
    <tr>
      <td>GetPrime</td>
      <td>1,833,222</td>
      <td>171,882</td>
      <td>22,198,122</td>
      <td>24,123,233</td>
    </tr>
    <tr>
      <td>SendWelcomeEmail</td>
      <td>1,833,222</td>
      <td>171,882</td>
      <td>22,198,122</td>
      <td>24,123,233</td>
    </tr>
    <tr class='last_row'>
      <th>Total:</td>
      <td>1,833,222</td>
      <td>171,882</td>
      <td>22,198,122</td>
      <td>24,123,233</td>
    </tr>
  </tbody>
</table>
