<div id="day_tabs">
  <a class='button' id="button_7" href='/history?days=7'>7 Days</a>
  <a class='button' id="button_30" href='/history?days=30'>30 Days</a>
  <a class='button' id="button_180" href='/history?days=180'>180 Days</a>
  <a class='button' id="button_365" href='/history?days=365'>365 Days</a>
</div>

<div class="select" id="class_selector">
  <select>
    <option disabled>Select a class</option>
    <option value="JobTestFast">JobTestFast</option>
    <option value="JobTestSlow">JobTestSlow</option>
    <option value="Fibonacci">Fibonacci</option>
  </select>
</div>

<div id="history_container_completed" class="chart">
</div>

<div id="history_container_failed" class="chart">
</div>
