<div id="day_tabs">
  <a class='button' id="button_7" data-day="7" href='/history?days=7'>7 Days</a>
  <a class='button' id="button_30" data-day="30" href='/history?days=30'>30 Days</a>
  <a class='button' id="button_180" data-day="180" href='/history?days=180'>180 Days</a>
  <a class='button' id="button_365" data-day="365" href='/history?days=365'>365 Days</a>
</div>

<div class="select" id="class_selector">
  <select>
    <option disabled>Select a class</option>
    <% @classes.each do |class_name| %>
      <option value="<%= class_name %>" <%= 'selected' if class_name == @class %>><%= class_name %></option>
    <% end %>
  </select>
</div>

<div id="history_container_completed" class="chart">
</div>

<div id="history_container_failed" class="chart">
</div>
