<html>
  <head>
    <title>Workerholic Overview</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href='stylesheets/application.css' rel='stylesheet'>
  </head>

  <body>
    <header>
      Workerholic
    </header>
    <nav>
      <ul>
        <li><a href='/'>Overview</a></li>
        <li><a href='/details'>Job Details</a></li>
        <li><a href='/placehold'>Queues</a></li>
        <li><a href='/workers'>Workers</a></li>
        <li><a href='/what'>Failed</a></li>
        <li><a href='/what'>Scheduled</a></li>
      </ul>
    </nav>

    <div id="statistics">
      <h2>Your current jobs overview</h2>
      <p id="completed">Finished Jobs: 0</p>
      <p>Jobs in queue: 100,000,000</p>
      <p id="failed">Jobs failed: 10,000,000</p>
    </div>

    <footer>
      <p>&copy; 2017 Workerholic. All rights reserved.</p>
    </footer>

  </body>
</html>
