<!-- <div id="statistics">
  <h2>Your current jobs overview</h2>
  <p id="completed">Finished Jobs: 0</p>
  <p>Jobs in queue: 100,000,000</p>
  <p id="failed">Jobs failed: 10,000,000</p>
</div> -->

<table class='table is-striped'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Finished Jobs</td>
      <td class='completed_jobs count'></td>
    </tr>
    <tr>
      <td>Queued Jobs</td>
      <td class='queued_jobs_count count'></td>
    </tr>
    <tr>
      <td>Scheduled Jobs</td>
      <td class='scheduled_jobs count'></td>
    </tr>
    <tr>
      <td>Failed Jobs</td>
      <td class='failed_jobs count'></td>
    </tr>
    <tr>
      <td>Number of Queues</td>
      <td class='queue_count count'></td>
    </tr>
    <tr>
      <td>Number of Workers</td>
      <td class='workers_count count'></td>
    </tr>
    <tr id='memory_usage'>
      <td>Total Memory Usage</td>
      <td class='memory_usage count'></td>
    </tr>
    <tr class='nested'>
      <th>Process Id</th>
      <th>Memory Usage</th>
    </tr>
    <% @processes.each do |id, memory| %>
      <tr class='nested'>
        <td><%= id %></td>
        <td id='process_<%= id %>'></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="queued_jobs_container" class="chart">
</div>

<div id="failed_jobs_container" class="chart">
</div>

<div id="jobs_processed_container" class="chart">
</div>

<div id="total_memory_container" class="chart">
</div>
