<table class='table'>
  <thead>
    <tr>
      <th>Class</th>
      <th>Execute on</th>
      <th>Arguments</th>
    </tr>
  </thead>

  <tr>
    <td>GithubAPIWrapper</td>
    <td>07-29-17 00:00:00</td>
    <td>{ username: 'tim-lee92', repo: 'workerholic' }</td>
  </tr>

  <tr>
    <td>GithubAPIWrapper</td>
    <td>07-29-17 00:00:00</td>
    <td>{ username: 'tim-lee92', repo: 'workerholic' }</td>
  </tr>

  <tr>
    <td>GithubAPIWrapper</td>
    <td>07-29-17 00:00:00</td>
    <td>{ username: 'tim-lee92', repo: 'workerholic' }</td>
  </tr>
</table>
